// This is an entrypoint for DMS/Doubutsu's default configs.
// Please read the Niri and DankLinux documentation for more info!
// https://yalter.github.io/niri/
// https://danklinux.com/docs/

//  I WILL EDIT THIS FILE  AND NOBODY CAN STOP ME! 
//	Changes will be overwritten if you run chezmoi.
//  So maybe consider writing your overrides in ~/.config/niri/local.kdl or /etc/niri/local.kdl
//  If you don't plan on running chezmoi, you can disregard this warning.


// include top-level settings from the system-wide default config
include "/usr/share/niri/defaults.kdl"

// include DankMaterialShell stuff
include "dms.kdl"

// include local user overrides
include optional=true "local.kdl"
